{{- if .snodots.isWorkstation -}}
#!/usr/bin/env bash

# Install Powerlevel10k fonts
declare -a FONTS=("MesloLGS NF Regular.ttf" "MesloLGS NF Bold.ttf" "MesloLGS NF Italic.ttf" "MesloLGS NF Bold Italic.ttf")
# TODO update this for Linux
{{- if .snodots.isWsl }}
FONTDIR=/mnt/c/Temp
  {{else}}
FONTDIR=${HOME}/Library/Fonts/
{{end}}
mkdir -p ${FONTDIR}

for font in "${FONTS[@]}"; do
  fontpath=$FONTDIR/$font
  if [ -e "$fontpath" ]; then
    echo "$font already installed, skipping..."
  else
    echo "Downloading $font..."
    curl -sLo "${fontpath}" https://github.com/romkatv/powerlevel10k-media/raw/master/${font// /%20}
  fi
done
{{end}}

echo -n "Please install fonts from $FONTDIR and press enter to continue..."
read
