#!/usr/bin/env bash
echo "Installing Golang..."
function cleanup() {
  rm -rf $tempdir
}

version=1.22.3
gopath=$HOME/.local/bin/go
kernel={{.chezmoi.os}}-{{.chezmoi.arch}}
fileext=tar.gz
shasum=8920ea521bad8f6b7bc377b4824982e011c19af27df88a815e3586ea895f1b36
{{- if eq .chezmoi.os "darwin" }}
fileext=pkg
shasum=58d2838f28631038ed5583c5aefb73ea4e5b13040983df21c647880f4f7dd381
{{end}}

target=golang.${fileext}
tempdir=$(mktemp -d) > /dev/null
trap cleanup INT TERM EXIT
wget --quiet https://golang.org/dl/go${version}.${kernel}.${fileext} -O ${tempdir}/${target}
shasum -a256 -c <<< "${shasum}  ${tempdir}/${target}"
if [ $? -ne 0 ]; then
  echo "!!! DOWNLOADED GOLANG WITH MISMATCHED CHECKSUM !!!"
  echo "Wanted: $shasum  Downloaded: $(shasum -a256 ${tempdir}/${target})"
  exit 1
fi
{{- if eq .chezmoi.os "darwin" }}
sudo installer -pkg ${tempdir}/${target} -target /
{{else}}
tar -C $gopath/ -xzf $target
{{end}}
cleanup

