{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
{{ $brews := .packages.base.darwin.brews -}}
{{- $casks := .packages.base.darwin.casks -}}
{{- if .snodots.isPersonal -}}
{{- $brews = concat $brews .packages.personal.darwin.brews -}}
{{- $casks = concat $casks .packages.personal.darwin.casks -}}
{{- else if .snodots.isWork -}}
{{- $brews = concat $brews .packages.work.darwin.brews -}}
{{- $casks = concat $casks .packages.work.darwin.casks -}}
{{- end -}}

brew bundle --file=/dev/stdin <<EOF
{{ range $brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range $casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

kubectl krew install ctx ns
{{ end -}}

