{{- if .snodots.isWorkstation -}}
#!/usr/bin/env bash

tempdir=

# TODO update this for Linux
{{- if .snodots.isWsl }}
FONTDIR=/mnt/c/Temp
  {{else}}
FONTDIR=${HOME}/Library/Fonts/
{{end}}
mkdir -p ${FONTDIR}

trap cleanup EXIT
function cleanup() {
  if [ -d $tempdir ]; then
    rm -rf $tempdir
  fi
}

function get_fonts() {
  if [ -x "$tempdir" ]; then
    tempdir=$(mktemp -d)
  fi
  if [ ! -f "${tempdir}"/Meslo.zip ]; then
    echo "Downloading fonts..."
    curl -sLo "${tempdir}/Meslo.zip" https://github.com/ryanoasis/nerd-fonts/releases/download/v3.2.1/Meslo.zip
    unzip "${tempdir}/Meslo.zip" -d "${tempdir}"
  fi
}

for font in MesloLGSNerdFont-{Regular,Bold,Italic,BoldItalic}.ttf; do
  fontpath=$FONTDIR/$font
  if [ -e "$fontpath" ]; then
    echo "$font already installed, skipping..."
  else
    get_fonts
    mv "${tempdir}/$font}" "$fontdir"
  fi
done
{{end}}

echo -n "Please install fonts from $FONTDIR and press enter to continue..."
read
