{{- $snodots := ternary (get . "snodots") dict (hasKey . "snodots" ) -}}
{{- $isOkta := false -}}
{{- $opVault := "" -}}
{{- $edKey := "" -}}
{{- $rsaKey := "" -}}
{{- $githubId := "" -}}
{{- $awsIds := list -}}

{{- $isWorkstation := promptBoolOnce $snodots "isWorkstation" "Is this a workstation" true -}}
{{- $isMine := promptBoolOnce $snodots "isPersonal" "Is this a personal device" true -}}
{{- if not $isMine -}}
  {{- $isOkta = promptBoolOnce $snodots "isOkta" "Is this an Okta device" false -}}
{{- end -}}

{{- if $isMine -}}
  {{- $opVault = "Personal" -}}
  {{- $edKey = "al6g7er6txmaagdchdpcuuj3xa" -}}
  {{- $githubId = "gvwbwyxftzqkvlwnvehf7jffvm" -}}
{{- else -}}
  {{- $opVault = "Okta" -}}
  {{- $edKey = "3hnydtulzfhednjgbqhfxcfnlm" -}}
  {{- $rsaKey = "phb2bs6xs5znqugxr75fjrvke4" -}}
  {{- $githubId = "w7r42b37tjderp76tvin5w2yoa" -}}
  {{- $awsIds = list "epzgonln6mmqgkah22jei5t76m" "67jyugt77al3cejxfldytdn7r4" -}}
{{- end -}}

[data]
  snodots.isPersonal = {{ $isMine }}
  snodots.isOkta = {{ $isOkta }}
  snodots.isWorkstation = {{ $isWorkstation }}
  snodots.onepassVault = {{ $opVault | quote }}
  snodots.edKeyId = {{ $edKey | quote }}
  snodots.rsaKeyId = {{ $rsaKey | quote }}
  snodots.gitEmail = {{ onepasswordRead (printf "op://%s/%s/email" $opVault $githubId) | quote }}
  snodots.awsKeyIds = [{{ $awsIds | quoteList | join ", " }}]
