{{- $snodots := ternary (get . "snodots") dict (hasKey . "snodots" ) -}}
{{- $isNexthink := false -}}
{{- $opVault := "" -}}
{{- $edKey := "" -}}
{{- $workEdKeyId := "" -}}
{{- $rsaKey := "" -}}
{{- $githubId := "" -}}
{{- $awsIds := list -}}

{{- $isWorkstation := promptBoolOnce $snodots "isWorkstation" "Is this a workstation" true -}}
{{- $isMine := promptBoolOnce $snodots "isPersonal" "Is this a personal device" true -}}
{{- $isWsl := and (eq .chezmoi.os "linux") (contains "WSL" .chezmoi.kernel.osrelease) -}}
{{- if not $isMine -}}
  {{- $isNexthink = promptBoolOnce $snodots "isNexthink" "Is this an Nexthink device" false -}}
{{- end -}}

{{- if $isMine -}}
  {{- $opVault = "Personal" -}}
  {{- $githubId = "gvwbwyxftzqkvlwnvehf7jffvm" -}}
{{- else -}}
  {{- $opVault = "Nexthink" -}}
  {{- $workEdKeyId = "ndkok3pv46h4bsc6ojo7j7hpcq" -}}
  {{- $rsaKey = "nkl5wcg4ikd2jsbqou2rx5qvnm" -}}
  {{- $githubId = "ndkok3pv46h4bsc6ojo7j7hpcq" -}}
{{- end -}}

{{- $edKey = "al6g7er6txmaagdchdpcuuj3xa" -}}
[data]
  snodots.isPersonal = {{ $isMine }}
  snodots.isNexthink = {{ $isNexthink }}
  snodots.isWorkstation = {{ $isWorkstation }}
  snodots.isWsl = {{ $isWsl }}
  snodots.onepassVault = {{ $opVault | quote }}
  snodots.edKeyId = {{ $edKey | quote }}
  snodots.workEdKeyId = {{ $workEdKeyId | quote }}
  snodots.rsaKeyId = {{ $rsaKey | quote }}
  snodots.gitEmail = {{ onepasswordRead (printf "op://%s/%s/email" $opVault $githubId) | quote }}
  snodots.awsKeyIds = [{{ $awsIds | quoteList | join ", " }}]
