{{- $snodots := ternary (get . "snodots") dict (hasKey . "snodots" ) -}}
{{- $isWorkstation := promptBoolOnce $snodots "isWorkstation" "Is this a workstation?" false -}}
{{- $isOkta := promptBoolOnce $snodots "isOkta" "Is this an Okta device?" false -}}

[data]
  snodots.isOkta = {{ $isOkta }}
  snodots.isWorkstation = {{ $isWorkstation }}
