#!/bin/sh

export PATH=${HOME}/.local/bin:${PATH}

{{ if .snodots.isOkta -}}
# RVM
source ${HOME}/.rvm/scripts/rvm
# this will absolutely break when I upgrade ruby
export GEM_PATH=${GEM_PATH}:${HOME}/.gem/ruby/3.3.0
export PATH=${PATH}:${HOME}/.gem/ruby/3.3.0/bin
{{end}}
